<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaojian.dao.CategoryMapper">
	<select id="findById" resultType="Category">
		SELECT * FROM cms_category WHERE id=${value}
	</select>
	
	<select id="listByChannelId" resultType="Category">
		SELECT * FROM cms_category WHERE channel_id=${value}
	</select>
</mapper>