<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaojian.dao.UserMapper">
		<resultMap type="User" id="userMapper">
		<id property="id" column="id"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>
	
	<select id="findUserById" resultMap="userMapper">
		SELECT * FROM cms_user WHERE id=${value}
	</select>
	
	<select id="list" resultMap="userMapper">
		SELECT * FROM cms_user 
		<where>
			<if test=' value!=null and  value!="" '>
				AND username LIKE concat('%',#{value},'%')
			</if>
		</where>
	</select>
	
	<select id="getById" resultMap="userMapper">
		SELECT * FROM cms_user 
		WHERE id=#{value}
	</select>
	<!-- 注册 -->
	<insert id="add">
		INSERT INTO cms_user(username,password,nickname,birthday
                   ,gender,locked,create_time,update_time,url,score,role) 
		      values(#{username},#{password},#{nickname},#{birthday},
		       #{gender},0,now(),now(),'',0,#{role}) 
	</insert>
</mapper>